/*----GENERAL----*/
body {
  font-family: TS-Reg, sans-serif;
  background-color: #fff;
  font-size: 16px;
  color: #333333;
}

.container {
  width: 1135px;
  margin: 0 auto;
  /* padding: 0 24px; */
}

section {
  padding-top: 24px;
  padding-bottom: 24px;
}

.flex-1 {
  flex: 1;
}

.flex-2 {
  flex: 2;
}

h1 {
  font-family: "Roboto", sans-serif;
  font-size: 54px;
  font-weight: 900;
  margin-bottom: 20px;
}

h1 span {
  color: #ff5d5d;
}

h2 {
  font-size: 28px;
  color: #000;
  font-weight: 700;
}

h3 {
  font-size: 24px;
  color: #000;
  font-weight: 700;
}

h4 {
  font-size: 18px;
}

p {
  font-family: inherit;
  /* font-family: Georgia, "Times New Roman", Times, serif; */
}

a {
  color: inherit;
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 0;
  height: 0;
}

/*--------------*/
/*----HEADER----*/
/*--------------*/
header {
  /* height: 40px; */
  padding: 20px 0;
  position: fixed;
  width: 100%;
  background-color: white;
  z-index: 30;
  top: 0;
}
header .logo {
  width: 180px;
  margin-right: 20px;
}
header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .search {
  margin-right: 20px;
}
header .search input {
  width: 300px;
  height: 36px;
  border-radius: 30px;
  border: 1px solid lightgray;
}
header .menu {
  display: flex;
  padding: 0 10px;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
header .menu a {
  color: #000;
  padding: 10px;
  border-radius: 30px;
  cursor: pointer;
}
header .menu a:hover {
  background-color: lightgray;
}
header .menu button {
  width: 180px;
  height: 38px;
  background-color: black;
  border-radius: 30px;
  border: none;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  cursor: pointer;
  font-family: inherit;
}
header .menu button:hover {
  background-color: rgb(50, 50, 50);
}

/*--------------*/
/*----MAIN------*/
/*--------------*/
main {
  margin-top: 80px;
}
main img:hover {
  opacity: 0.8;
  cursor: pointer;
}

/*-- SECTION TITLE --*/
.title {
  margin-bottom: 20px;
}

.baseline {
  color: #333333;
  font-size: 14px;
  font-family: inherit;
}

.navigation {
  display: flex;
  justify-content: space-around;
  gap: 10px;
  margin-bottom: 20px;
}
.navigation .item {
  border: 1px solid #000;
  padding: 20px 10px;
  border-radius: 6px;
  flex: 1;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}
.navigation .item:hover {
  color: #fff;
  background-color: #000;
}
.navigation .item p {
  font-size: 16px;
  font-family: TS-Reg, sans-serif;
}

/*-- SECTION GALERY PICTURES --*/
.galery {
  position: relative;
  height: 430px;
  display: flex;
  margin-bottom: 20px;
  gap: 1px;
}
.galery img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.galery .main-img {
  height: 100%;
  flex: 1;
}
.galery .secondary-img {
  height: 100%;
  width: 480px;
}
.galery .secondary-img div {
  background-color: bisque;
  height: calc((100% - 1px) / 2);
}
.galery .secondary-img div:first-child {
  margin-bottom: 1px;
}

.btn-pictures {
  position: absolute;
  bottom: 18px;
  left: 15px;
  display: flex;
  align-items: center;
  gap: 5px;
  background-color: black;
  width: 128px;
  border-radius: 30px;
  padding: 8px 5px;
  color: #fff;
  cursor: pointer;
  z-index: 20;
}
.btn-pictures:hover {
  background-color: #323232;
}
.btn-pictures span {
  font-size: 12px;
}
.btn-pictures i {
  font-size: 16px;
}

/*-- SECTION BREADCRUMB --*/
.breadcrumb {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  margin-bottom: 60px;
}
.breadcrumb ul {
  display: flex;
  gap: 10px;
  align-items: center;
}
.breadcrumb ul a {
  color: #333333;
}
.breadcrumb ul li {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

/*-- SECTION ABOUT --*/
.about {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-bottom: 40px;
}
.about .about-item {
  flex: 1;
}
.about .about-item:first-child {
  flex: 1.5;
  padding-right: 50px;
}
.about .about-item:first-child p {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 20px;
  line-height: 24px;
}
.about .about-item:last-child {
  display: flex;
  flex-direction: column;
}
.about .about-item img {
  width: 100%;
}
.about .about-item .banner {
  background-color: #fd5d5d;
  color: #000;
  padding: 40px 30px;
  border-radius: 10px 10px 0 0;
}
.about .about-item .banner button {
  border: none;
  color: #fff;
  background-color: #222222;
  border-radius: 15px;
  padding: 15px 30px;
  cursor: pointer;
}
.about .about-item .banner button:hover {
  background-color: #000;
}
.about .about-item .banner p {
  margin-bottom: 20px;
}
.about h2 {
  margin-bottom: 20px;
}

/*-- SECTION ALL UTILS --*/
.container-utils h2 {
  margin-bottom: 40px;
}
.container-utils .utils {
  width: 1135px;
  height: 312px;
  display: flex;
  gap: 30px;
  margin-bottom: 64px;
}
.container-utils .utils .description {
  height: 312px;
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.container-utils .utils .description p {
  font-size: 18px;
}

.carousel-container {
  position: relative;
}

/*-- CAROUSEL --*/
/* DO NOT NEST TO THE PARENT CONTAINER .carousel-container
LET LEAVE IT INDIPENDENT BECAUSE WE USE CAROUSEL IN OTHERS DIFFERENTS SECTIONS*/
.carousel {
  height: 312px;
  width: 838px;
  display: flex;
  flex-wrap: nowrap;
  overflow: scroll hidden;
  gap: 16px;
}
.carousel .item-carousel {
  width: 268px;
  flex-shrink: 0;
  height: 100%;
}
.carousel .item-carousel h4 {
  margin-bottom: 10px;
}
.carousel .item-carousel p {
  font-size: 14px;
}
.carousel .item-carousel .picture {
  height: 200px;
  margin-bottom: 10px;
  position: relative;
}
.carousel .item-carousel .picture img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}
.carousel .item-carousel .picture .heart-container {
  width: 40px;
  height: 40px;
  background-color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 10px;
  right: 10px;
}
.carousel .item-carousel .picture .picto-container {
  position: absolute;
  bottom: 20px;
  left: 10px;
  background-color: #fdc735;
  padding: 5px 0;
  border-radius: 30px 30px 6px 6px;
}
.carousel .item-carousel .picture .picto-container .picto {
  width: 40px;
}
.carousel .item-carousel .dots {
  display: flex;
  gap: 3px;
  margin-bottom: 10px;
}
.carousel .item-carousel .dots span {
  font-size: 12px;
  margin-left: 5px;
}
.carousel .item-carousel .dots div {
  height: 15px;
  width: 15px;
  background: #04a96c;
  border-radius: 50%;
}

.arrow-container {
  position: absolute;
  top: 80px;
  z-index: 80;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  width: 40px;
  height: 40px;
  background-color: white;
  border: 1px solid #000;
  border-radius: 50%;
  cursor: pointer;
}
.arrow-container:first-child {
  left: -20px;
}
.arrow-container:nth-child(2) {
  right: -20px;
}
.arrow-container:hover {
  background-color: #000;
  color: #fff;
}

/*-- SECTION INTERESTS SPOTS --*/
.container-interests {
  margin-bottom: 90px;
}
.container-interests h2 {
  margin-bottom: 40px;
}
.container-interests h3 {
  margin-bottom: 20px;
}
.container-interests .interests-title {
  margin-bottom: 20px;
}
.container-interests .interests-pictures .arrow-container {
  top: 110px;
}
.container-interests .interests-pictures .arrow-container:nth-child(2) {
  right: -20px;
}
.container-interests .interests-pictures .carousel {
  height: 400px;
  width: 1133px;
}
.container-interests .interests-pictures .carousel .item-carousel .picture {
  height: 270px;
}

/*--------------*/
/*----FOOTER----*/
/*--------------*/
footer {
  background-color: #f9f1ec;
  height: 156px;
  padding: 30px;
}
footer .container {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
footer .infos {
  height: 100px;
  flex: 3;
}
footer .infos .footer-nav {
  display: flex;
  gap: 10px;
}
footer .infos .footer-nav .picto-trip img {
  width: 40px;
}
footer .infos .footer-nav .footer-links {
  display: flex;
  flex-direction: column;
  margin-bottom: 5px;
}
footer .infos .footer-nav .footer-links ul li {
  display: inline-block;
  margin: 2px 6px;
}
footer .infos .footer-nav .footer-links span {
  font-size: 12px;
  margin-bottom: 10px;
}
footer .infos .legal p {
  font-size: 12px;
}
footer .country-currency {
  height: 100px;
  flex: 1.5;
}/*# sourceMappingURL=style.css.map */